/*variables*/

:root {
    --main-font-family: 'Mulish';
    --main-weight: 300;
    --main-font-size: 17px;
    --main-color: #7D7987;
}
/*base styles*/
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.section-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
}



/* typography */

h1, .h1 {
    margin-bottom: 71px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
}

h2, .h2 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000; 
}

h3, .h3 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
}
h4, .h4 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
}



p {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
}

figcaption {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: rgba(128, 145, 142, 1);
}
figcaption span {
    display: block;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #042521;
}

blockquote, q {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

cite {
    font-family: 'Inter'; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.85);
}
cite span {
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #000000;
}
/* Style buttons */

button, .button, input[type=button], input[type=submit] {
     background-color: #FB8F1D;
     border-radius: 8px;
     text-decoration: none;
     cursor: pointer;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 46px;
     color: #FFFFFF;
     display: inline-block;
     padding: 0 38px;
     min-width: 164px;
     border: 1px solid #FB8F1D;

}
button:hover, .button:hover, input[type=button]:hover, input[type=submit]:hover {
    border-color: #fd9e39;
}

button.transparent, .button.transparent, input[type=button].transparent, input[type=submit].transparent {
    background: transparent;
    color: #FB8F1D;
    border-radius: 8px;
}

button.transparent:hover, .button.transparent:hover, input[type=button].transparent:hover, input[type=submit].transparent:hover, button.trip:hover {
    background: #FB8F1D;
    color: #FFFFFF;
}

a {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 0px;
    text-decoration: none;
    color: #FB8F1D;
}

a:hover{
    color: #ffad56;
}

a.view-all {
    display: inline-block;
    font-size: 17px;
    line-height: 60px;
    position: relative;
    padding-right: 126px;
}
a.view-all::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 125px;
    display: block;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 25px;
    height: 15px;
    transform: translateX(100%);
} 

a.view-all:hover {
    padding-right: 125px;
}

.element {
    width: 26px;
    height: 26px;
    margin-bottom: 494px;
    margin-left: 80px;
}

/*form*/

fieldset {
    display: flex;
    margin-bottom: 35px;
    border: 0;
}

.select-wrapper {
    padding-right: 30px;
    position: relative;
}

select {
    width: 220px;
    padding: 0 30px;  
    border: 1px solid #AFB0B9;
    border-radius: 6px; 
    outline: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    color: #4A4C53;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-wrapper::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 61px;
    display: block;
    background-image: url(../img/vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 10px;
    height: 6px;
}



/* header*/
header {
    
    position: fixed;
    width: 100%;
    padding: 43px 0;
    background-color: white;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    position: relative;
}
.menu, .buttons {
    display: flex;
    align-items: center;
    list-style: none;
}
nav .buttons {
    position: relative;
    left: -2px;
    top: -0.8px;
}
.menu li a {
    padding:  8px 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B8BECD;
}

.menu li a:hover {
    color:#4a4d52;
}


.menu li a.active { 
    font-weight: 500;
    color: #202336;
}

.buttons li {
    margin-left: 18px;
}

.buttons li button {
    font-weight: 500;
    min-width: 132px;
    padding: 0 36px;
    font-size: 15px;
    line-height: 42px;
}

.section-container .logo {
    position: relative;
    left: 8px;
}


/* form-and-image */
form {
    margin-bottom: 16px;
    margin-top: 49px;
    position: relative;
    left: 2px;
    top: -2px;
}

.form-and-image{
    padding-top: 167px;
    padding-bottom: 143px;
}
.text-form-wrapper {
    margin-left: 10px;
    position: relative;
    left: -5px;
    top: -5px;
}

.form-and-image h2.h3 {
    position: relative;
    padding-bottom: 22px;
}

.form-and-image h2.h3::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32px;
    height: 2px;
    background: #202336;
    border-radius: 4px;

}
.form-and-image button {
    min-width: 180px;
    margin-top: 16px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 17px;

}
.form-and-image .main-picture {
    position: relative;
    right: -80px;
    top: -4px;
}
.form-and-image .shape {
    position: absolute;
}

.form-and-image .big-circle {
    top: 49%;
    left: -43px;
    max-width: 26px;
}
.form-and-image .small-circle {
    top: 93%;
    left: 45%;
    max-width: 20px;
}
.form-and-image .cross {
    top: 8%;
    left: 39.5%;
}

/* image and text*/
.image-and-text{
    padding-top: 143px;
    padding-bottom: 146px;
}
.image-and-text-reverse {
    padding-top: 116px;
    padding-bottom: 124px;
}
.image-and-text-reverse .section-container {
    flex-direction: row-reverse;
}
.image-and-text .text-wrapper {
    width: 440px;
    position: relative;
    left: -70px;
    top: -21px;
}
.image-and-text .text-wrapper p {
    padding-top: 20px;
    padding-bottom: 39px;
}

.image-and-text .main-picture {
    position: relative;
    left: -44px;
    top: -13px;
}

 .image-and-text .shape {
    position: absolute;
}

.image-and-text .circle {
    left: 73.5%;
    top: 81%;
    max-width: 21px;
} 

.image-and-text .cross {
    top: -34%;
    left: -16%;
}

.image-and-text .text-form-wrapper .explore {
    position: relative;
    top: 2px;
    left: -1px;
}

.image-and-text .text-wrapper .button {
    position: relative;
    top: -2px;
}

.image-and-text-reverse .text-wrapper {
    width: 440px;
    position: relative;
    left: -80px;
    top: 19px;
}

.image-and-text-reverse .main-picture {
    position: relative;
    top: -11px;
    left: -41px;
}

.image-and-text-reverse .circle {
    position: relative;
    top: -186px;
    left: 32px;
    width: 20px;
}
.image-and-text-reverse .cross {
    position: relative;
    left: 468px;
    top: 148px;
    transform: scaleX(-1);
}

.image-and-text-reverse .text-wrapper p {
    padding-top: 20px;
    padding-bottom: 39px;
}

/*featured-destination*/

.featured-destination {
    padding-top: 123px;
    padding-bottom: 116px;
    position: relative;
}

.featured-destination .section-container {
    flex-direction:column;
    align-items: stretch;
    padding-left: 59px;
    padding-right: 172px;
}

.featured-destination .title-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 55px;
    top: 2px;
}
.featured-destination a.view-all {
    padding-right: 16px;
}
.featured-destination a.view-all::after {
    right: 13px;
}

.featured-destination .locations {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25px;
  margin-top: 56px;
  list-style: none;
}

.featured-destination figure {
    position: relative;
    left: 56px;
    top: -8px
}

.featured-destination figure img {
    width: 100%;
    border-radius: 8px;
    
}

.featured-destination figcaption {
    position: absolute;
    min-width: 120px;
    left: 0;
    bottom: 0;
    padding-top: 11px;
    padding-right: 20px;
    background: #FFFFFF;
    border-radius: 0px 6px 0px 0px;
}

/*testimonials*/

.testimonials {
    padding-top: 124px;
    padding-bottom: 143px;
}

.testimonials .section-container {
    flex-direction: column;
    align-items: flex-start;
}

.testimonials-slider {
    max-width: 100%;
}

.slick-arrow {
    font-size: 0;
    background-image: url(../img/vector2.svg); 
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    padding: 18px;
    min-width: 0;
    background-position: 50%;
    border: 2px solid #000000;
    
}

.slick-arrow:hover {
    border-color: #000000;
}
.slick-prev {
    transform: scaleX(-1);
}
.testimonials .container {
    display: flex;
    justify-content: space-between;
}
.testimonials .text-wrapper {
    width: 440px;
}

/* trending-stories */

.trending-stories {
    padding-top: 143px;
    padding-bottom: 136px;
    position: relative;
}
.trending-stories .section-container {
    flex-direction: column;
    align-items: stretch;
}


.trending-stories .title-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 55px;
    top: 11px;
    
}

.trending-stories .activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    margin-top: 56px;
    list-style: none;
    max-width: 91%;
    position: relative;
    left: 55px;
  }

.trending-stories li img {
    width: 100%;
    border-radius: 8px;
    max-height: 241px;
    padding-bottom : 13px;
}

.activities span {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: rgba(125, 121, 135, 1);
    padding-top: 13px;
    
}

.trending-stories .text1 {
    width: 240px;
    padding-bottom: 23px;
}

.trending-stories .text2 {
    width: 262px;
    padding-bottom: 23px;
}
